.container {
  border-radius: 0.7rem;
  padding: 2px;
}

.inputContainer {
  background-color: rgb(34, 34, 34);
  border-radius: 0.7rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.container svg {
  height: 35px;
  width: 35px;
  color: gray;
}

.container:focus-within {
  background-image: linear-gradient(45deg, #21daa2, #43dce5, #36c3ef, #4a5ae9);
}

.input {
  width: 97%;
  padding: 0.4rem 0.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: 0;
  color: white;
  font-family: inherit;
}

.input:focus,
.input:active {
  outline: none;
}
