.aside {
  position: relative;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 0.55rem;
  margin-bottom: 1.8rem;
}

.info {
  --background-color: var(--callout-background-green);
  --icon-background-color: var(--callout-icon-green);
}

.danger {
  --background-color: var(--callout-background-red);
  --icon-background-color: var(--callout-icon-red);
}

.icon {
  font-size: 1.4rem;
  position: absolute;
  display: flex;
  right: -18px;
  top: -24px;
  border-radius: 50%;
  background-color: var(--icon-background-color);
  color: var(--callout-color);
  padding: 8px;
}
