.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  width: 100%;
}

.stepsContainer p {
  margin: 0;
}

.divider {
  width: 3px;
  height: 55px;
  background-color: gray;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}

.time {
  font-weight: bold;
  flex: 1;
  text-align: right;
}

.details {
  flex: 1 1 0;
}

.title {
  font-weight: bold;
}

.description {
  font-size: 1rem;
  color: #919191;
}
