.container {
  background-color: var(--tags-background);
  font-size: 12px;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.3rem;
  font-weight: 600;
  color: var(--tags-color);
  line-height: normal;
}

.container:hover {
  filter: brightness(85%);
}

.selected {
  color: var(--tag-selected);
  background-color: var(--tag-selected-background);
}
