.details {
  background-color: #22272a;
  border-radius: 0.55rem;
  padding-bottom: 0.07rem;
}

.details:focus-within {
  outline: 3px solid #22272a;
  outline-offset: 5px;
}

.summary {
  padding: 1rem 0.7rem;
  border-radius: 0.55rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.container {
  padding-bottom: 1rem;
}

.list {
  margin-top: 0;
  line-height: 1.8rem;
}

.list a:hover {
  color: white;
  text-decoration: underline;
}

.list a[data-level="1"] {
  padding-left: 20px;
}

.list a[data-level="2"] {
  padding-left: 35px;
}

.list a[data-level="3"] {
  padding-left: 45px;
}

.list a[data-level="4"] {
  padding-left: 55px;
}

.list a[data-level="5"] {
  padding-left: 65px;
}

.list a[data-level="6"] {
  padding-left: 75px;
}
