.details {
  margin-bottom: 1rem;
}

.summary {
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #22272a;
  padding: 1rem;
}

.summary:focus {
  outline: 3px solid #22272a;
  outline-offset: 5px;
}

.children {
  border: 3px solid #22272a;
  border-top: none;
  padding: 1rem;
  /* background-color: #22272a;
  border-radius: 0 0 0.55rem 0.55rem; */
}
