.details {
  margin-bottom: 1rem;
  border-radius: 0.55rem;
  overflow: hidden;
}

.details:focus-within {
  outline: 3px solid #22272a;
  outline-offset: 5px;
}

.summary {
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #22272a;
  padding: 1rem;
}

.children {
  background-color: #22272a;
  padding: 1rem;
}
