.container {
  width: 100%;
  margin: 0 auto;
  height: 60px;
}

.LinksContainer {
  position: fixed;
  z-index: 10;
  background-color: #1d1e23;
  color: rgb(153, 153, 153);
  box-shadow: 0 0 5px #030303;
  padding: 1rem;
  display: flex;
  width: inherit;
  gap: 10px;
}

.container a {
  width: max-content;
  position: relative;
  transition: color linear 0.2s;
}

.container a:hover,
.container a:focus {
  color: white;
}

.active {
  color: white;
}

@media (min-width: 1024px) {
  .container {
    width: 55%;
  }

  .LinksContainer {
    border-radius: 0 0 10px 10px;
  }
}

@media (max-width: 400px) {
  .LinksContainer {
    overflow: scroll;
  }
}
