.container {
  position: absolute;
  top: 5rem;
  right: 0;
  font-size: 1.2rem;
  z-index: 10;
}

.LinksContainer {
  position: fixed;
  right: 0;
  padding: 2rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
  box-shadow: -2px 2px 10px rgb(3, 3, 3);
  color: rgb(153, 153, 153);
  border-radius: 10px 0 0 10px;
  transition: transform linear 0.2s;
  transform: translateX(110%);
}

.activeLinksContainer {
  transform: translateX(0) !important;
}

.container a {
  width: max-content;
  position: relative;
  transition: color linear 0.2s;
}

.container a:hover,
.container a:focus {
  color: white;
}

.active {
  color: white;
}

.mobileNavContainer {
  display: block;
  position: fixed;
  top: 1rem;
  right: 0;
  margin-right: 1rem;
}

.hamburgerMenuButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  width: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.hamburgerMenuButton div {
  background-color: white;
  padding: 1px;
  width: 100%;
  transition: width linear 0.2s;
}

.hamburgerMenuButton div:nth-child(2) {
  width: 15px;
  margin-left: auto;
}

.hamburgerMenuButton:hover div:nth-child(2) {
  width: 100%;
}

.hamburgerMenuButton:focus {
  outline: 1px solid white;
  outline-offset: 5px;
}

.menuActive div:nth-child(2) {
  width: 100%;
}

@media (min-width: 1001px) {
  .LinksContainer {
    transform: translateX(0);
  }

  .mobileNavContainer {
    display: none;
  }
}
