.container {
    border-top: 1px solid var(--footer-border-top);
    color: var(--footer-color);
    padding: 1rem;
    margin: 2rem auto;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    margin-bottom: 25px;
}

.paragraph {
    margin: 0;
    margin-top: 25px;
}

.others {
    display: flex;
}

.socialsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linksColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socialsContainer a:focus,
.socialsContainer a:hover {
    color: var(--footer-color-hover);
}

@media (min-width: 800px) {
    .container {
        flex-direction: row;
    }

    .paragraph {
        margin-top: 10px;
    }

    .socialsContainer {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 55%;
    }

    .others {
        justify-content: space-between;
    }

    .socialsContainer {
        gap: 4rem;
    }
}
