.container {
  border-top: 1px solid rgb(27, 27, 27);
  color: gray;
  padding: 1rem;
  padding-top: 2rem;
  margin: 2rem auto;
  font-size: 1rem;
  display: flex;
  flex-direction: column-reverse;
}

.paragraph {
  margin: 0;
  margin-bottom: 25px;
}

.socialsContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
}

.linksColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container a:focus,
.container a:hover {
  color: white;
}

@media (min-width: 1024px) {
  .container {
    width: 55%;
    justify-content: space-between;
    flex-direction: row;
  }

  .socialsContainer {
    flex-direction: row;
    gap: 4rem;
  }
}
