.container {
  margin: 1rem 0;
  text-align: center;
}

.headerSvg path {
  stroke: var(--header-separator-color);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: animate 2s linear forwards;
}

.otherSvg {
  stroke: var(--other-separator-color);
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}
