.container {
  animation: load 0.5s;
}

@keyframes load {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.noOfBlogs {
  color: rgb(145, 145, 145);
  margin-top: 0;
}

.blogContainer {
  display: block;
  background-color: rgb(10, 10, 10);
  padding: 0.75rem;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  transition: transform linear 0.1s;
}

.blogContainer:active {
  transform: scale(0.98);
}

.blogContainer:focus {
  outline: 2px solid rgb(236, 236, 236);
}

.blogContainer h3 {
  margin: 0;
}

.additionalInfo {
  margin: 5px 0;
  color: gray;
  font-size: 0.9rem;
}
