.title {
  margin-bottom: 0;
  color: white;
}

.coverImage img {
  width: 100% !important;
  border-radius: 0.7rem;
}

.description {
  color: white;
  margin-bottom: 0;
}

.otherInfo {
  color: gray;
  font-size: 0.9rem;
}

.caption {
  margin: 0;
  font-size: 0.9rem;
  color: gray;
  text-align: center;
}

.hr {
  border: 1px solid rgb(54, 54, 54);
}

.container {
  color: rgba(255, 255, 255, 0.74);
  word-wrap: break-word;
}

.container ul:first-of-type a {
  text-decoration: none;
  font-size: 1rem;
}

.container ul:first-of-type a:hover {
  text-decoration: underline;
}

.container a[aria-hidden="true"] {
  text-decoration: none;
}

.container a[aria-hidden="true"]:hover {
  text-decoration: underline;
}

.container span[class="icon icon-link"]::before {
  content: "#";
  margin-left: 5px;
  color: gray;
  text-decoration: none;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  color: white;
}

.container blockquote {
  margin-left: 0;
  border-left: 4px solid white;
  padding: 0.1rem 0 0.1rem 1rem;
}

.container a {
  color: white;
  text-decoration: underline;
}

.container img {
  display: block;
  margin: 1rem auto;
  width: 100%;
}

.container pre {
  background-color: rgb(10, 10, 10);
  padding: 1rem;
  border-radius: 0.55rem;
  overflow: auto;
}

.container pre code {
  font-weight: normal;
  background-color: transparent;
}

.container code {
  font-size: 0.9rem;
  padding: 2px 5px;
  border-radius: 2px;
}

@media (min-width: 1024px) {
  .container img {
    width: 60%;
  }
}
