.container {
  display: flex;
  align-items: center;
  color: gray;
  padding: 1rem;
  width: 60%;
  margin: 0 auto;
}

.love {
  color: rgb(209, 129, 129);
}

.socialsContainer {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.container svg {
  height: 25px;
  width: 25px;
}

.container a {
  transition: scale linear 0.1s;
}

.container a:focus,
.container a:hover {
  scale: 1.2;
  color: white;
}
