.container {
  position: absolute;
  top: 5rem;
  right: 0;
  font-size: 1.2rem;
}

.LinksContainer {
  position: fixed;
  right: 0;
  padding: 2rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: rgb(46, 46, 46);
  box-shadow: 3px 3px 8px black;
  color: rgb(153, 153, 153);
  border-radius: 10px 0 0 10px;
  transition: transform linear 0.2s;
}

.activeLinksContainer {
  transform: translateX(0) !important;
}

.container a {
  width: max-content;
  position: relative;
  transition: color linear 0.2s;
}

.container a:hover,
.container a:focus {
  color: white;
}

.container a:hover::after,
.container a:focus::after {
  width: 100%;
}

.container a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  background-color: white;
  width: 0;
  transition: all linear 0.2s;
}

.active {
  color: white;
}

.mobileNavContainer {
  display: none;
  position: fixed;
  top: 1rem;
  right: 0;
  margin-right: 1rem;
}

.hamburgerMenuButton {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.hamburgerMenuButton div {
  border: 1px solid white;
  width: 100%;
  transition: all linear 0.2s;
}

.hamburgerMenuButton div:nth-child(2) {
  width: 15px;
  margin-left: auto;
}

.hamburgerMenuButton:hover div:nth-child(2) {
  width: 20px;
}

.hamburgerMenuButton:focus {
  outline: 1px solid white;
  outline-offset: 5px;
}

.menuActive div:nth-child(2) {
  width: 100%;
}

@media (max-width: 1000px) {
  .LinksContainer {
    transform: translateX(100%);
  }

  .mobileNavContainer {
    display: block;
  }
}
