.container {
  margin: 1rem 0 0 0;
  background-image: linear-gradient(45deg, #fde68a, #fecaca);
  padding: 3px;
  border-radius: 0.7rem;
  word-wrap: break-word;
}

.projectBox {
  background-color: rgb(10, 10, 10);
  border-radius: 0.7rem;
  padding: 1rem;
}

.projectBox h4 {
  margin: 0;
}

.projectBox a:first-of-type {
  margin-bottom: 0.6rem;
}
